:root {
    --blue:blue;  
    --red:red;
    --center: center;
    --inline:inline;
    --float:left;
    --display:flex;
    --padding: 10px;
    --font-size:30px;
}


* {
    margin: 0px;
}

.mypic {
    width: 100px; 
}

body {
    background-image: url(../Image/8.jpg);
    background-size: cover;
    min-width: 620px;
    min-height: 972px;
}

.Suthan {
    color: var(--red);
}

.Kathir {
    color: var(--blue);
}

header {
    background-color: gold;
    padding: var(--padding) 70px var(--padding) 70px;
}

h1 {
display: var(--inline);
}

header div {
    float: right;
    margin-top: 70px;
}

header div ul li {
    display: var(--inline);
    padding: 40px;
    font-size: var(--font-size);
  
}

.nav-item {
text-decoration: none;
 }

 .nav-item:hover {
     color: green;
 }


.welcome {
    background-image: url(../Image/2.jpg);
    min-height: 400px;
    background-size: cover;
}

.multicolortext {
    background-image: linear-gradient(to right, violet, indigo, green,var(--blue), yellow, orange, var(--red));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Lobster', cursive;
    font-style: italic;
    text-align: var(--center);
    font-size: 100px;
    padding: 100px;
  }


.aboutme {
  margin: 50px;
}

#main {
    float: var(--float);
    border-right: 5px solid var(--blue);
    height: 50px;
    padding: var(--padding);
    font-size: var(--font-size);
}

#side {
    text-align: left;
    padding-left: 200px;
    font-size: 25px;
}

.skills{
    margin: 80px;
}
#skmain{
    float: var(--float);
    border-right: 5px solid var(--blue);
    height: 80px;
    padding: var(--padding);
    font-size: 30px;
    margin-left: 50px;
}

.skside {
    display: var(--display);
    flex-wrap: wrap;
  }

#sktext {
        border-width: 1px;
        border-radius: 10px;
        padding: var(--padding);
        flex: 0 0 300px;
        transform: rotate(8deg);
        box-shadow: 10px 10px 5px #11ce20;
       margin: 20px;
      }

#sktext h5{
    border-radius: 10px;
    background-color: green;
    text-align: var(--center);
    padding: var(--padding);
    font-size: var(--font-size);
}

.certification {
    margin-top: 150px;
}
#cermain{
    float: left;
    border-right: 5px solid var(--blue);
    height: 300px;
    padding: var(--padding);
    font-size: 40px;
    margin-left: 55px;
}

.Certpic{
    display: var(--display);
    flex-wrap: wrap;
    padding-left: 50px;
  
}

#pic {
    border-style: solid;
    border-width: 1px;
    border-color:var(--red);
    border-radius: 20px;
    padding: var(--padding);
    flex: 0 0 00px;
     text-align: var(--center);
     flex-direction: column;
     margin-right: 230px;
    
  } 

  #pic img {width: 200px;
    height: 200px;
    padding: var(--padding);
  } 

  #certtext{
      font-size: 25px;
      font-weight: bold;
      color:var(--blue);
      text-align: var(--center);
  }

.contactme {
    margin-top: 100px;
}

#conmain{
    float: left;
    border-right: 5px solid var(--blue);
    height: 80px;
    padding:var(--padding);
    font-size: 40px;
    margin-left: 20px;
}

 .flex-container {
     display: var(--display);
     flex-wrap: wrap;
 }


 .flex-container > p {
     padding: var(--padding) 100px;
     font-size: var(--font-size);
     margin-top: 5px;
     text-decoration: underline;
     color:var(--red);
     margin-top: 10px;
   }


#t1{
    color: var(--red);
}


footer{
    margin-top: 150px;
    text-align: var(--center);
    font-size: var(--font-size);
}



 @media screen and (max-width: 1290px) {
    header div {
        margin: 0;
        margin-top: 10px;
     float: none;
    }
}
  

@media screen and (max-width: 1745px){
    #skmain{
        height:200px;
    }
}

@media screen and (max-width:1690px) {
    #cermain{
        height: 550px;
    } 
}

@media screen and (max-width:1219px) {
    #cermain{
        height:850px;
    }
    
    #main{
        height: 100px;
    }
}

@media screen and (max-width: 1025px){
    #skmain{
        height: 420px;
    }
}


@media screen and (max-width:914px) {
    #main {
        height: 150px;
    }
    
    #conmain {
        height: 180px;
    }
}